.form-create-room {
  margin-bottom: 11px;
}

.form-create-room input,
.form-create-room button {
  width: 100%;
}

.column-name {
  text-align: left;
}

.column-actions {
  text-align: right;
}

.column-last-used-time {
  text-align: left;
}

.column-actions > * {
  margin-left: 11px;
}