#page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#header {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#header img {
  width: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
